.headerContainer {
    display: flex;
    flex-direction: row;
    background-color: ghostwhite;
    flex-grow: 1;
    justify-content: space-between;
}

.menuButton {
    marginRight: '80%',
}

.title {
    flex-grow: 1;

    font-family: Lobster, monospace;
}

