.aboutme-card-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.aboutme-card-items {
    background-color: #3f51b535;
    border-radius: 10px;
    margin: 10px;
}

.aboutme-card-item-logo {
    width: 24px;
    height: auto;
    flex-grow: 0;
}

.aboutme-card-item-title-container {
    padding-inline: 5px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-grow: 2;
}

.aboutme-card-item-title {
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aboutme-card-item-button {
    cursor: pointer;
    flex-grow: 0;
    padding-inline: 10px;
    background-color: darkgreen;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}

.aboutme-card-item-button-minus {
    background-color: red;
}
